### 2.1 HateSpeach Dataset

In [5]:

# Twitter API credentials (replace with yours)
API_KEY = "PAO6i9D0EyeZK4BsarjIgz6vC"
API_SECRET = "bkeyS6BMbiUDJv6cNvEK6Dyo1VWNqIATsRRcb7Lnu8DyP35qLt"
ACCESS_TOKEN = "1754103336066801665-4UPaDx0bA3N0K3bOWgwsUBf5BXMxWq"
ACCESS_SECRET = "z9e928oOPJTbBDvPLStGXtDZlXcxdLBLDCY7vOQ8IsREB"
BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAACq70QEAAAAAory3iJ6KrrJ2%2BxWh7BzRfDP5koU%3DbNVLpXgkGVoc48ek9i2hrrJnOwR3HANMUCUdVrFA91kv61kxcZ"
# Authenticate
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [14]:
import requests

url = "https://api.x.com/2/tweets"
params = {
    "ids": "1261326399320715264,1278347468690915330"
}
headers = {
    "Authorization": "Bearer AAAAAAAAAAAAAAAAAAAAACq70QEAAAAAory3iJ6KrrJ2%2BxWh7BzRfDP5koU%3DbNVLpXgkGVoc48ek9i2hrrJnOwR3HANMUCUdVrFA91kv61kxcZ"
}

response = requests.get(url, headers=headers, params=params)

if response.status_code == 200:
    print(response.json())
else:
    print(f"Error: {response.status_code}")
"""
{'data': [{'text': 'Tune in to the @MongoDB @Twitch stream featuring our very own @suhemparack to learn about Twitter Developer Labs - starting now! https://t.co/fAWpYi3o5O', 'id': '1261326399320715264', 'edit_history_tweet_ids': ['1261326399320715264']}], 'errors': [{'value': '1278347468690915330', 'detail': 'Could not find tweet with ids: [1278347468690915330].', 'title': 'Not Found Error', 'resource_type': 'tweet', 'parameter': 'ids', 'resource_id': '1278347468690915330', 'type': 'https://api.twitter.com/2/problems/resource-not-found'}]}
"""

{'data': [{'text': 'Tune in to the @MongoDB @Twitch stream featuring our very own @suhemparack to learn about Twitter Developer Labs - starting now! https://t.co/fAWpYi3o5O', 'id': '1261326399320715264', 'edit_history_tweet_ids': ['1261326399320715264']}], 'errors': [{'value': '1278347468690915330', 'detail': 'Could not find tweet with ids: [1278347468690915330].', 'title': 'Not Found Error', 'resource_type': 'tweet', 'parameter': 'ids', 'resource_id': '1278347468690915330', 'type': 'https://api.twitter.com/2/problems/resource-not-found'}]}

In [53]:
import time
import requests

def fetch_tweet_info(tweet_id, tweet_ids_list=None, retries=5):
    url = "https://api.x.com/2/tweets"
    params = {
        "ids": tweet_id if tweet_ids_list is None else ",".join(tweet_ids_list),
    }
    headers = {
        "Authorization": f"Bearer {BEARER_TOKEN}",
    }

    for i in range(retries):
        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            return response.json()
        elif response.status_code == 429:
            print(f"Rate limit exceeded. Retrying in {2 ** i} seconds...")
            time.sleep(2 ** i)
        else:
            print(f"Error: {response.status_code}")
            return None
    print("Max retries exceeded.")
    return None

In [27]:
# Load tweet IDs and labels
df_annotations = pd.read_csv("data/hatespeech-nlp-2016.csv", sep="\t", low_memory=False, usecols=[0,1])

In [28]:
df_annotations.reset_index(inplace=True)
df_annotations.rename(columns={'index': 'TweetID'}, inplace=True)

In [29]:
df_labels = df_annotations.iloc[:, 1]
df_labels.rename("label", inplace=True)
df_labels.head()

0    neither
1    neither
2    neither
3    neither
4    neither
Name: label, dtype: object

In [33]:
# change the second column name from TweetID  to label
# df_annotations.drop(df_annotations.columns[1], axis=1, inplace=True)
df_annotations = pd.concat([df_annotations, df_labels], axis=1)

In [37]:
# drop colum with index 1
df_annotations.drop(df_annotations.columns[1], axis=1, inplace=True)

In [117]:
# df_annotations.drop(df_annotations.iloc[:, 1:2], inplace=True, axis=1)

In [39]:

df_annotations.columns = ['tweet_id', 'label']

In [46]:
df_annotations.to_csv("data/hatespeech-cleaned.csv", sep="\t", index=False)

In [47]:
df = pd.read_csv("data/hatespeech-cleaned.csv", sep="\t", low_memory=False)
df.head()

             tweet_id    label
0  597576902212063232  neither
1  565586175864610817  neither
2  563881580209246209  neither
3  595380689534656512  neither
4  563757610327748608  neither

In [42]:
df_annotations.describe()

           tweet_id
count  6.909000e+03
mean   5.772489e+17
std    1.468033e+16
min    3.193999e+17
25%    5.684375e+17
50%    5.724893e+17
75%    5.942994e+17
max    6.847790e+17

In [54]:
import requests
# Fetch tweets
tweets = []
for tweet_id in df_annotations['tweet_id'][:1]:
    try:
        tweet = fetch_tweet_info(tweet_id)
        print(tweet)
        tweets.append(tweet.full_text)
    except Exception as e:
        print(f"Error fetching tweet {tweet_id}: {e}")
        tweets.append("")
    time.sleep(random.randint(1, 5))  # Rate limiting

Rate limit exceeded. Retrying in 1 seconds...
Rate limit exceeded. Retrying in 2 seconds...
Rate limit exceeded. Retrying in 4 seconds...
Rate limit exceeded. Retrying in 8 seconds...
Rate limit exceeded. Retrying in 16 seconds...

KeyboardInterrupt:

In [ ]:

# Merge with labels
df_hate = pd.DataFrame({
    'text': tweets,
    'label': df_annotations['label'].map({'hate': 'bad', 'neither': 'good'})
}).dropna().reset_index(drop=True)

In [ ]:
# Load HateSpeech dataset (example path)
df_hate = pd.read_csv("hatespeech/data/labeled_data.csv")
# Map labels: 0 = hate, 1 = offensive, 2 = neither
df_hate['label'] = df_hate['class'].map({0: 'bad', 1: 'bad', 2: 'good'})
df_hate = df_hate[['tweet', 'label']].rename(columns={'tweet': 'text'})

### 2.1 HateSpeech Dataset

In [66]:
from datasets import load_dataset
dataset_hate = load_dataset("Paul/hatecheck", split="test")

README.md:   0%|          | 0.00/4.71k [00:00<?, ?B/s]

C:\Users\anils\anaconda3\envs\bullying\lib\site-packages\huggingface_hub\file_download.py:144: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\anils\.cache\huggingface\hub\datasets--Paul--hatecheck. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

test.csv:   0%|          | 0.00/652k [00:00<?, ?B/s]

Generating test split:   0%|          | 0/3728 [00:00<?, ? examples/s]

In [67]:
df_hate = pd.DataFrame(dataset_hate)

In [69]:
# let just columns 2 and 3
df_hate = df_hate.iloc[:, 2:4]

In [71]:
df_hate.columns = ['text', 'label']

In [72]:
df_hate.head()

                       text    label
0            I hate women.   hateful
1     I hate trans people.   hateful
2       I hate gay people.   hateful
3     I hate black people.   hateful
4  I hate disabled people.   hateful

In [73]:
df_hate.to_csv("data/hatespeech-cleaned.csv", sep="\t", index=False)

### 2.2 Offensive Language Dataset (OLID)

https://huggingface.co/datasets/christophsonntag/OLID
Tasks and Labels (Source)
(A) Level A: Offensive language identification

(NOT) Not Offensive - This post does not contain offense or profanity.
(OFF) Offensive - This post contains offensive language or a targeted (veiled or direct) offense

(B) Level B: Automatic categorization of offense types

(TIN) Targeted Insult and Threats - A post containing an insult or threat to an individual, a group, or others (see categories in sub-task C).
(UNT) Untargeted - A post containing non-targeted profanity and swearing.

(C) Level C: Offense target identification

(IND) Individual - The target of the offensive post is an individual: a famous person, a named individual or an unnamed person interacting in the conversation.
(GRP) Group - The target of the offensive post is a group of people considered as a unity due to the same ethnicity, gender or sexual orientation, political affiliation, religious belief, or something else.
(OTH) Other – The target of the offensive post does not belong to any of the previous two categories (e.g., an organization, a situation, an event, or an issue)

In [13]:
from datasets import load_dataset
dataset_olid = load_dataset("christophsonntag/OLID", split="train")
df_olid = pd.DataFrame(dataset_olid)

In [16]:
df_olid.columns

Index(['id', 'text', 'text_cleaned', 'label', 'label1', 'label2'], dtype='object')

In [15]:
df_olid.columns = ['id', 'text', 'text_cleaned', 'label', 'label1', 'label2']

In [18]:
df_olid.head()

,id,text,text_cleaned,label,label1,label2
0,86426,@USER She should ask a few native Americans wh...,ask native americans take,OFF,UNT,None
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,go home drunk maga trump 2020,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,amazon investigating chinese employees selling...,NOT,None,None
3,62688,"@USER Someone should'veTaken"" this piece of sh...",someone vetaken piece shit volcano,OFF,UNT,None
4,43605,@USER @USER Obama wanted liberals &amp; illega...,obama wanted liberals illegals move red states,NOT,None,None

In [19]:
# Map labels: 'offensive' -> 'bad', 'not offensive' -> 'good'
df_olid['label'] = df_olid['label'].map({'OFF': 'bad', 'NOT': 'good'})
df_olid = df_olid[['text', 'label']]

In [20]:
df_olid.head()

                                                text label
0  @USER She should ask a few native Americans wh...   bad
1  @USER @USER Go home you’re drunk!!! @USER #MAG...   bad
2  Amazon is investigating Chinese employees who ...  good
3  @USER Someone should'veTaken" this piece of sh...   bad
4  @USER @USER Obama wanted liberals &amp; illega...  good

In [22]:
df_olid.to_csv("data/olid-cleaned.csv", index=False)